DATABASE_URL=
BETTER_AUTH_SECRET=
RAZORPAY_KEY_ID=rzp_test_SpXqob9Qwfsy9o
RAZORPAY_KEY_SECRET=18OJhRZjZ1KZ62ZY1RYFd3fi
RAZORPAY_AMOUNT_YEARLY_PAISE=69900
RAZORPAY_AMOUNT_MONTHLY_PAISE=9900
EMAIL_FROM=no-reply@loop.app
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=


NEXT_PUBLIC_VAPID_PUBLIC_KEY=BJIQ7EbeKzfjm70ZAdrON7TAT8DBngqcH94X-Fga04DNpALIPcMbObsVPzcTfV2QhI7ku5UtO9eHP1e2xudJIX4
VAPID_PRIVATE_KEY=lBK-1OwaUHJ5jWkW_8Qu8AaSAzLTwadHTvw_Mwk2IUs
VAPID_SUBJECT=mailto:loopit-shubham-email@example.com
CRON_SECRET=eec98908d7431edcdd0b8e2aa803b58914c691e32588ef59ad36e5a26ccca622
