DATABASE_URL=
BETTER_AUTH_SECRET=
RAZORPAY_KEY_ID=rzp_test_SpXqob9Qwfsy9o
RAZORPAY_KEY_SECRET=18OJhRZjZ1KZ62ZY1RYFd3fi
RAZORPAY_AMOUNT_YEARLY_PAISE=69900
RAZORPAY_AMOUNT_MONTHLY_PAISE=9900
EMAIL_FROM=no-reply@loop.app
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_CLIENT_ID = 
clientSecret = 